@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full text-lg
    tracking-widest text-gray-500 transition-all hover:border-[#8f1d21]/40
    hover:text-[#8f1d21]/40
  }

  .animated {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,white 50%,#872e31 0,#8f1d21);
    -webkit-background-clip: text;
    background-size: 200%;
    transition: .5s ease-out;
}
.animated:hover {
  background-position: -100%;
}

.strong {
  position: relative;
}

.strong::before {
  background-color: #8f1d21;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.test2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
}
